/* navbar */
.navbar {
    background-color:rgba(179, 157, 219, 0.9);
    opacity:0.9;
}
.navbar-brand {
    font-family: 'Franklin Gothic Medium';
    font-size:90px;
    color:rgba(179, 157, 219, 0.8);
    text-shadow: 4px 3px 3px rgb(253, 83, 151), 10px 9px 3px #ec912907;
}
.nav-link {
    font-size: medium;
    font-family: Verdana, Tahoma, sans-serif;
    color:rgb(239, 246, 249);
    text-shadow: 3px 3px 4px rgb(239, 246, 249) ;

}
.logo-navbar {
    height: 47px;
    padding-right:15px;

}

/* thumbnail */
.avia-slide-wrap{
    padding-bottom: 15px;
}

/* content */
#padding {
    padding-bottom: 2px;
}
h3 {
    color: #AC7088;
    text-align: center;
    padding-bottom: 12px;
    font-size: medium;
    font-weight:bold;
}
h4 {
    text-align: center;
    padding-bottom: 15px;
    font-weight: bold;
    color: rgba(172, 112, 136, 1);
}

/* grid 2 */
.row > div{  
    padding: 10px;
    /* padding-bottom: 0; */
}
.row{
    margin: 20px auto;
    padding-right: 30px;
    padding-left: 10px;
    /* padding-bottom: 10px;    */
}
img{
    height: 250px;
}

.col.s3.l2:hover {
    transform: scale(1.1);
    box-shadow: 4px 4px 3px  #e6e9ea; 
    animation-duration: 3ms;
    
}
#last-row {
    padding-bottom: 50px;
}
/* footer contact */
.image {
    height: 25px;
    padding-right: 5px;
    
}
.image-logo {
    height: 110px;
}

/* ========== Banner ========== */
.banner {
    font-family: Sofia;
}

/* ========== filter card categories ========== */
.filter {
	/* margin-top: 100px; */
    font-family: Montserrat;
}

.card-title {
    font-weight: bold;
}

#myBtnContainer {
	margin:20px;
}
.filterDiv {
	display:none;
}
.show {
	display:block;
}
.btn {
	border:none;
	outline:none;
	background-color:#f1f1f1;
	cursor:pointer;
	font-size:medium;
	margin:3px;
}
.btn:hover {
	background-color:#ddd;
}
.btn.active {
	background-color:#f48fb1;
	color: white;
}

/* Footer */
.page-footer{
    background-color:rgba(180, 154, 165, 1);
    height: 270px;
    
}
.footer-copyright{
    background-color:rgba(202, 202, 206, 0.808);
}

#copy {
    padding-top: 13px;
    text-align: center;
}


/* text footer */ 
.footer-text {
    font-weight:600;
}
.text {
    color:#f48fb1 ;
    text-shadow: 3px 2px 2px white;   
}
.text-a {
    color:#f48fb1;
    font-size:13px;
    font-weight:550;
}