/* body {
    background-color: pink;
} */

/* navbar */
.navbar {
    background-color:rgba(179, 157, 219, 0.8);
    opacity:0.9;
}
.navbar-brand {
    font-family: 'Franklin Gothic Medium';
    font-size:90px;
    color:rgba(179, 157, 219, 0.8);
    text-shadow: 4px 3px 3px rgb(253, 83, 151), 10px 9px 3px #ec912907;
}
.nav-link {
    font-size: medium;
    font-family: Verdana, Tahoma, sans-serif;
    color:rgb(239, 246, 249);
    text-shadow: 3px 3px 4px rgb(239, 246, 249) ;

}
.logo-navbar {
    height: 47px;
    padding-right:15px;

}

/* thumbnail */
.avia-slide-wrap{
    padding-bottom: 25px;
}

/* content card */

.card-tittle{
    font-weight:bold;
    color: rgba(163, 147, 124, 1);
}
.text-blog{
    text-align: justify;
    color: rgba(173, 162, 170, 0.957);
}
#last-row {
    padding-bottom: 50px;
}
.read-more {
    color: rgb(252, 228, 236) ;
   
}


/* footer contact */
.image {
    height: 25px;
    padding-right: 5px;
    
}
.image-logo {
    height: 110px;
}

/* Content */
#padding{
    padding-bottom: 22px;
}
h3 {
    color: #AC7088;
    text-align: center;
    padding-bottom: 12px;
    font-size: medium;
    font-weight:bold;
}
/* Footer */
.page-footer{
    background-color:rgba(180, 154, 165, 1);
    height: 270px;
    
}
.footer-copyright{
    background-color:rgba(202, 202, 206, 0.808);
}
/* .footer {
    height: 55px;
} */
#copy {
    padding-top: 13px;
    text-align: center;
}
/* .footer {
    padding-top: 10px;
} */

/* text footer */ 
.footer-text {
    font-weight:600;
}
.text {
    color:#f48fb1 ;
    text-shadow: 3px 2px 2px white;   
}
.text-a {
    color:#f48fb1;
    font-size:13px;
    font-weight:550;
}